# VitexSoftware APT repository in DEB822 format
Types: deb
URIs: https://repo.vitexsoftware.com/
Suites: {{ suite }}
Components: {{ components }}
Signed-By: /usr/share/keyrings/vitexsoftware-archive-keyring.gpg
